<section class="section brd-btm" id="certification">
    <h2 class="title-thin text-muted">获得证书</h2>

    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/初级程序员.png' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">初级程序员</h3>
            </div>
        </div><!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/ICT.png' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">ICT</h3>
            </div>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->

    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/东莞市优秀团员.png' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">东莞市优秀团员</h3>
            </div>
        </div><!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/校学生会办公室主任聘书.png' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">校学生会办公室主任</h3>
            </div>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->

    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/校优秀团干.png' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">校优秀团干</h3>
            </div>
        </div><!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/优秀学生会干部.png' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">优秀学生会干部</h3>
            </div>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->

</section><!-- .section -->