<section class="section brd-btm" id="certification">
    <h2 class="title-thin text-muted">获得证书</h2>

    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/初级程序员.jpg' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">初级程序员</h3>
            </div>
        </div><!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/东莞市优秀团员.jpg' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">东莞市优秀团员</h3>
            </div>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->